.post {
    background: rgb(221, 208, 208);
    border: rgb(218, 252, 184) solid;
    color:rgb(0, 0, 0);
    width:  1180px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.innerPost {
    display: flex;
    justify-content: flex-start;
}

.innerPost__img {
    width: 50px;
    height: 50px;
    padding: 5px 15px 0px 0px
}

.writerPost {
    font-size: 19px;
    font-weight: bold;
    padding: 0px 0px 10px 0px;
}

.lineForPost {
    border: none;
    height: 2px;
    background-color:rgb(218, 252, 184);
}


    

  
    